@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "sans-serif";
}
th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.progress-bar {
  width: 280px;
  height: 8px;
  background-color: rgba(110, 168, 254, 0.4);
  border-radius: 5px;
  margin-top: 28px;
}

.progress-bar .progress-bar-fill {
  height: 100%;
  background-color: #14a673;
  border-radius: 5px;
  animation: progress-animation 5s linear;
}
.gradientbg {
  background: linear-gradient(
      0deg,
      rgba(2, 125, 82, 0.8) 0%,
      rgba(2, 125, 82, 0.8) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(2, 125, 82, 0.2) 0%, rgba(2, 125, 82, 0.2) 100%);
}
.registerbtngrad {
  border-radius: 8px;
  background: linear-gradient(180deg, #028c5c 0%, #06ce89 100%);
  padding: 16px 26px;
}
.adminmenu {
  max-height: 100vh;
  height: auto;
  position: sticky;
  top: 0px;
  /* flex: 1; */
}
.backbtn {
  border-radius: 8px;
  padding: 16px 26px;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
